{% extends 'base.html' %}

<script>
    {% block rewards_over_time_jquery %}
    let endpoint = '/api/chart/rewards_over_time/';
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            drawLineChart(data, 'rewardsChartLine');
        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    });

    function drawLineChart(data, id) {
        const epoch = data.epoch;
        const reward_date = data.reward_date;
        const usdData = data.usd;
        const adaData = data.ada;
        const market_price = data.market_price;
        const ctx2 = document.getElementById(id).getContext('2d');
        const myChart = new Chart(ctx2, {
            data: {
                labels: reward_date,
                datasets: [
                    {
                        type: 'line',
                        data: adaData,
                        label: "ADA (₳)",
                        backgroundColor: [
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                        ],
                        borderColor: [
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                        ],
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        data: usdData,
                        label: "USD ($)",
                        backgroundColor: [
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                        ],
                        borderColor: [
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                        ],
                        borderWidth: 1,

                    }
                ]
            },
            options: {
                legend: {
                    display: true,
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Amount",
                            fontSize: 14,
                            fontStyle: 'bold',
                            padding: {
                                top: 10
                            }
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date',
                            fontSize: 14,
                            fontStyle: 'bold',
                            padding: {
                                top: 10
                            }
                        }
                    }],
                }
            },

        });
    }
    {% endblock rewards_over_time_jquery %}
</script>

<script>
    {% block transactions_over_time_jquery %}
    let endpoint = '/api/chart/transactions_over_time/';
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            transactionsLineChart(data, 'transactionsChartLine');
        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    });

    function transactionsLineChart(data, id) {
        const epoch = data.epoch;
        const transactions = data.transactions;
        const fees = data.fees;
        const ctx2 = document.getElementById(id).getContext('2d');
        const myChart = new Chart(ctx2, {
            data: {
                labels: epoch,
                datasets: [
                    {
                        type: 'line',
                        data: transactions,
                        label: "Transactions",
                        backgroundColor: [
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                        ],
                        borderColor: [
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                        ],
                        borderWidth: 1
                    },
                    {
                        type: 'line',
                        data: fees,
                        label: "Fees (₳)",
                        backgroundColor: [
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                            'rgba(0,187,0,0.2)',
                        ],
                        borderColor: [
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                            'rgba(0,187,0,1)',
                        ],
                        borderWidth: 1,

                    }
                ]
            },
            options: {
                legend: {
                    display: true,
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Amount",
                            fontSize: 14,
                            fontStyle: 'bold',
                            padding: {
                                top: 10
                            }
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Epoch',
                            fontSize: 14,
                            fontStyle: 'bold',
                            padding: {
                                top: 10
                            }
                        }
                    }],
                }
            },

        });
    }
    {% endblock transactions_over_time_jquery %}
</script>

<script>
    {% block avg_cost_over_time_jquery %}
    let endpoint = '/api/chart/transactions_over_time/';
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            avgCostLineChart(data, 'avgCostChartLine');
        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    });

    function avgCostLineChart(data, id) {
        const epoch = data.epoch;
        const avgcost = data.avg_cost;
        const fees = data.fees;
        const ctx2 = document.getElementById(id).getContext('2d');
        const myChart = new Chart(ctx2, {
            data: {
                labels: epoch,
                datasets: [
                    {
                        type: 'line',
                        data: avgcost,
                        label: "Average Cost",
                        backgroundColor: [
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                            'rgba(30,144,255,0.2)',
                        ],
                        borderColor: [
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                            'rgba(30,144,255,1)',
                        ],
                        borderWidth: 1
                    },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Avg Cost",
                            fontSize: 14,
                            fontStyle: 'bold',
                            padding: {
                                top: 10
                            }
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Epoch',
                            fontSize: 14,
                            fontStyle: 'bold',
                            padding: {
                                top: 10
                            }
                        }
                    }],
                }
            },

        });
    }
    {% endblock avg_cost_over_time_jquery %}
</script>